flowsfinal.json
[{"id":"a489f59fb6090906","type":"tab","label":"Flow 6","disabled":false,"info":"","env":[]},{"id":"358a3940ba30663f","type":"debug","z":"a489f59fb6090906","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":20,"wires":[]},{"id":"f4d9de58aae6ae05","type":"mqtt in","z":"a489f59fb6090906","name":"","topic":"Incoming data stream","qos":"0","datatype":"auto-detect","broker":"309f6ef489dc86ff","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":220,"wires":[["358a3940ba30663f","c4dcae2e613d2597","0bdc2f52b3edae68","c570bbaa5fbac35c","2eb9bc4a6f1af142","8e89ed4426ddd9c1","a38805475cdd521a"]]},{"id":"304ae9f75f63c39f","type":"ui_gauge","z":"a489f59fb6090906","name":"","group":"c380fc5c600f7aa4","order":1,"width":"0","height":"0","gtype":"gage","title":"Temp","label":"units","format":"","min":"-10","max":"50","colors":["#00b3ff","#00e66f","#e9f53d"],"seg1":"12","seg2":"24","diff":true,"className":"","x":530,"y":180,"wires":[]},{"id":"5f6fa1bb9bb7cff2","type":"ui_chart","z":"a489f59fb6090906","name":"","group":"c380fc5c600f7aa4","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-20","ymax":"60","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":530,"y":220,"wires":[[]]},{"id":"a8cebdfeabb87b06","type":"ui_audio","z":"a489f59fb6090906","name":"ALERT","group":"97eef762ce0b57e5","voice":"Google US English","always":true,"x":120,"y":740,"wires":[]},{"id":"e7e7205cf78c9d60","type":"ui_toast","z":"a489f59fb6090906","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"WARNING","name":"Alert","x":110,"y":640,"wires":[["cecc8fd2f82f2cf5"]]},{"id":"c570bbaa5fbac35c","type":"file","z":"a489f59fb6090906","name":"Append to csv dataset","filename":"","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":140,"y":100,"wires":[[]]},{"id":"c4dcae2e613d2597","type":"function","z":"a489f59fb6090906","name":"Seggregate Temp","func":"\nvar a = msg.payload;\nmsg.payload = Math.round(a.temp);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":220,"wires":[["304ae9f75f63c39f","5f6fa1bb9bb7cff2","358a3940ba30663f","e0ec979380dda94c"]]},{"id":"fb8c7839ef8be8a8","type":"ui_text","z":"a489f59fb6090906","group":"c380fc5c600f7aa4","order":0,"width":0,"height":0,"name":"","label":"Average of 7 days","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":910,"y":180,"wires":[]},{"id":"5b5772ccd513ec6e","type":"ui_gauge","z":"a489f59fb6090906","name":"","group":"8b133c220968a726","order":1,"width":0,"height":0,"gtype":"wave","title":"Dew","label":"units","format":"{{value}}","min":"5","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":530,"y":260,"wires":[]},{"id":"2ec569b2a560ad4e","type":"ui_chart","z":"a489f59fb6090906","name":"","group":"8b133c220968a726","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":530,"y":300,"wires":[[]]},{"id":"ab359ffa34e84569","type":"ui_text","z":"a489f59fb6090906","group":"8b133c220968a726","order":0,"width":0,"height":0,"name":"","label":"Average of 7 days","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":910,"y":260,"wires":[]},{"id":"9d21d894e242bd51","type":"ui_gauge","z":"a489f59fb6090906","name":"","group":"193996cf63f2f89a","order":1,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"units","format":"{{value}}","min":"40","max":"120","colors":["#00d5ff","#00e604","#ede61d"],"seg1":"","seg2":"","diff":false,"className":"","x":520,"y":360,"wires":[]},{"id":"66eedf626da20479","type":"ui_chart","z":"a489f59fb6090906","name":"","group":"193996cf63f2f89a","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"180","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":530,"y":400,"wires":[[]]},{"id":"7b68e3727fe7bf5d","type":"ui_text","z":"a489f59fb6090906","group":"193996cf63f2f89a","order":0,"width":0,"height":0,"name":"","label":"Average of 7 days","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":910,"y":360,"wires":[]},{"id":"605963b33c6def73","type":"ui_gauge","z":"a489f59fb6090906","name":"","group":"ba4b269c8f6cc918","order":1,"width":0,"height":0,"gtype":"compass","title":"WindSpeed","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":530,"y":440,"wires":[]},{"id":"c52455635880bf03","type":"ui_chart","z":"a489f59fb6090906","name":"","group":"ba4b269c8f6cc918","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":510,"y":480,"wires":[[]]},{"id":"6104d8a72a17cb3e","type":"ui_text","z":"a489f59fb6090906","group":"ba4b269c8f6cc918","order":0,"width":0,"height":0,"name":"","label":"Average of 7 days","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":910,"y":460,"wires":[]},{"id":"0bdc2f52b3edae68","type":"function","z":"a489f59fb6090906","name":"Exceeding Threshold raise Alarm","func":"var a = msg.payload;\n\nif (a['model_out']>0.5){\n    msg.topic = \"WARNING\"\n    msg.payload = \"THRESHOLD EXCEEDED\";\n    return msg;\n}\nelse{\n    msg.payload=\"NO THREAT\";\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":580,"wires":[["e7e7205cf78c9d60","0c38e16f1339403b"]]},{"id":"2eb9bc4a6f1af142","type":"function","z":"a489f59fb6090906","name":"Seggregate Dew","func":"\nvar a = msg.payload;\nmsg.payload = Math.round(a['dew'])\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":300,"wires":[["5b5772ccd513ec6e","2ec569b2a560ad4e","bd22dd78b16b8dca"]]},{"id":"8e89ed4426ddd9c1","type":"function","z":"a489f59fb6090906","name":"Seggregate humidity","func":"\nvar a = msg.payload;\nmsg.payload = Math.round(a['humidity'])\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":380,"wires":[["9d21d894e242bd51","66eedf626da20479","2ba19fa56208f4bd"]]},{"id":"a38805475cdd521a","type":"function","z":"a489f59fb6090906","name":"Seggregate windspeed","func":"\nvar a = msg.payload;\nmsg.payload = Math.round(a['windspeed'])\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":460,"wires":[["605963b33c6def73","c52455635880bf03","c1d0867f0924acc7"]]},{"id":"9b535eb8a3c80e83","type":"ui_toast","z":"a489f59fb6090906","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"KEEP OPEN","cancel":"CLOSE GATE","raw":false,"className":"","topic":"msg.topic","name":"Alert","x":770,"y":580,"wires":[["3a3552fd3a7b3dd9"]]},{"id":"f4eed8720d1d6978","type":"ui_text","z":"a489f59fb6090906","group":"0f22744f57db5beb","order":0,"width":0,"height":0,"name":"","label":"GATE STATUS","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"18","color":"#000000","x":1120,"y":580,"wires":[]},{"id":"608e7fa5bf51b6b1","type":"ui_button","z":"a489f59fb6090906","name":"","group":"0f22744f57db5beb","order":1,"width":0,"height":0,"passthru":false,"label":"CLOSE GATE","tooltip":"Closes Gate","color":"black","bgcolor":"red","className":"","icon":"","payload":"CLOSING GATE !ARE YOU SURE?","payloadType":"str","topic":"GateStatus","topicType":"msg","x":580,"y":580,"wires":[["9b535eb8a3c80e83"]]},{"id":"3a3552fd3a7b3dd9","type":"function","z":"a489f59fb6090906","name":"Alert Action","func":"\nif(msg.payload){\n    msg.payload = \"CLOSING GATE\"\n}\nelse\n    msg.payload = \"\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":580,"wires":[["f4eed8720d1d6978"]]},{"id":"cecc8fd2f82f2cf5","type":"function","z":"a489f59fb6090906","name":"thresholdAlert","func":"\nif(msg.payload){\n    msg.payload = \"ALERT! THRESHOLD EXCEEDED!\"\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":680,"wires":[["a8cebdfeabb87b06"]]},{"id":"0c38e16f1339403b","type":"ui_text","z":"a489f59fb6090906","group":"97eef762ce0b57e5","order":0,"width":0,"height":0,"name":"","label":"THERESHOLD STATUS","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"18","color":"#ff0000","x":450,"y":680,"wires":[]},{"id":"e0ec979380dda94c","type":"function","z":"a489f59fb6090906","name":"function 5","func":"\nreturn msg.payload.avgt;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":180,"wires":[["fb8c7839ef8be8a8"]]},{"id":"bd22dd78b16b8dca","type":"function","z":"a489f59fb6090906","name":"function 6","func":"\nreturn msg.payload.avgd;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":280,"wires":[["ab359ffa34e84569"]]},{"id":"2ba19fa56208f4bd","type":"function","z":"a489f59fb6090906","name":"function 7","func":"\nreturn msg.payload.avgh;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":360,"wires":[["7b68e3727fe7bf5d"]]},{"id":"c1d0867f0924acc7","type":"function","z":"a489f59fb6090906","name":"function 8","func":"\nreturn msg.payload.avgw;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":460,"wires":[["6104d8a72a17cb3e"]]},{"id":"309f6ef489dc86ff","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"c380fc5c600f7aa4","type":"ui_group","name":"Temp","tab":"f23b4bb3b6821aa1","order":1,"disp":true,"width":"6","collapse":true,"className":""},{"id":"97eef762ce0b57e5","type":"ui_group","name":"THRESHOLD","tab":"4986563875b4d222","order":1,"disp":true,"width":"8","collapse":true,"className":""},{"id":"8b133c220968a726","type":"ui_group","name":"Dew","tab":"f23b4bb3b6821aa1","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"193996cf63f2f89a","type":"ui_group","name":"Humidity","tab":"f23b4bb3b6821aa1","order":3,"disp":true,"width":"6","collapse":true,"className":""},{"id":"ba4b269c8f6cc918","type":"ui_group","name":"WindSpeed","tab":"f23b4bb3b6821aa1","order":4,"disp":true,"width":"6","collapse":true,"className":""},{"id":"0f22744f57db5beb","type":"ui_group","name":"GATE","tab":"4986563875b4d222","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"f23b4bb3b6821aa1","type":"ui_tab","name":"Status","icon":"dashboard","disabled":false,"hidden":false},{"id":"4986563875b4d222","type":"ui_tab","name":"Control","icon":"dashboard","order":3,"disabled":false,"hidden":false}]